<footer class="footer bg-dark py-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ps-5 mb-4 mb-lg-0">
          <h2 class="h5 text-white mb-4">Thông tin</h2>
          <p class="text-primary text-small" >Optimal Solution</p>
          <p class="text-primary text-small">Phần mềm online</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-4 ps-5 mb-4 mb-lg-0">
          <h2 class="h5 text-white mb-4">Liên kết</h2>
          <div class="d-flex">
           <ul class="list-unstyled d-inline-block mb-0">
              <li class="mb-2"><a class="footer-link" routerLink="/home">Trang chủ </a></li>
              <li class="mb-2"><a class="footer-link" routerLink="/intro">Thông tin</a></li>
              <li class="mb-2"><a class="footer-link" routerLink="/contactus">Liên hệ</a></li>
          </ul>
          </div>
        </div>
        <div class="col-lg-4 ps-5 mb-4  mb-lg-0">
          <h2 class="h5 text-white mb-4">Tư vấn</h2>
          <p class="text-primary text-small">Gọi tư vấn miễn phí.</p>
          <div class="text-white">
            <i class="fas fa-phone"></i>
            <a href="" class="text-white ms-1">0900000000</a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights" style="background-color: rgb(12, 22, 32);">       
      <div class="container text-center py-2">
        <p class="mb-0 text-white">&copy; 2023, Optimal Solution</p>
      </div>
    </div>
  </footer>
