<div class="container-fluid">
  <div class="row">
    <div class="p-2 bg-primary-subtle text-white">
      <div class="text-danger text-center fs-9">
        <i class="fa-solid fa-phone"></i>
        <a class="ms-1" href="">0900 000 000</a>
      </div>
    </div>    
  </div>  
</div>
<header class="header sticky-sm-top">
   <nav class="navbar navbar-expand-lg navbar-light py-1 shadow-sm bg-warning-subtle">
 <!--  -->
      <div class="container">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/logoOS3_50.png" alt="Logo">
        </a>
         
        <button  class="navbar-toggler text-info"  data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="fa-solid fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
           <div class="col-md-9">
              <ul class="navbar-nav me-auto">
                <li class="nav-item active"><a class="nav-link pl-lg-0 fw-bold text-uppercase text-primary-emphasis" routerLink="/home">Trang chủ<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link fw-bold text-uppercase text-primary-emphasis" routerLink="/intro">Giới thiệu</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle fw-bold text-uppercase text-primary-emphasis" routerLink="/product" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Sản phẩm
                  </a>
                  <ul class="dropdown-menu dropdown-menu bg-warning-subtle ">
                    <li><a class="dropdown-item text-primary-emphasis" href="#">Kế toán vé máy bay</a></li>
                    <li><a class="dropdown-item text-primary-emphasis" href="#">Kế toán tài chính</a></li>
                    <li><a class="dropdown-item text-primary-emphasis" href="#">Kế toán nhà hàng</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link fw-bold text-uppercase text-primary-emphasis" routerLink="/contactus">Liên hệ </a></li>
              </ul>
            </div>
            <!-- <div class="col-md-2 text-danger fs-6"> -->
              <!-- <i class="fa-solid fa-phone"></i> -->
              <!-- <a class="ms-1" href="">0900 000 000</a> -->
            <!-- </div> -->
            <div class="col-md-3 my-1 mt-3">
              <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Tìm kiếm" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>       
            </div>
          </div>
        </div> 
      </nav>
</header>









